[Unit]
Description=Run URWatcher diff task via Docker Compose
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User=ec2-user
Environment="PATH=/usr/local/bin:/usr/bin:/usr/sbin:/bin:/sbin"
EnvironmentFile=/home/ec2-user/URWatcher/.env
WorkingDirectory=/home/ec2-user/URWatcher
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/docker compose --env-file /home/ec2-user/URWatcher/.env run --rm urwatcher --run
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
